@font-face {
  font-family: 'z-icon';
  src:  url('../fonts/icon/z-icon.eot?th0pbn');
  src:  url('../fonts/icon/z-icon.eot?th0pbn#iefix') format('embedded-opentype'),
    url('../fonts/icon/z-icon.ttf?th0pbn') format('truetype'),
    url('../fonts/icon/z-icon.woff?th0pbn') format('woff'),
    url('../fonts/icon/z-icon.svg?th0pbn#z-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'z-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e900";
}
.icon-alert-circle:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-box:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-check-circle:before {
  content: "\e90a";
}
.icon-check-square:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-credit-card:before {
  content: "\e90d";
}
.icon-database:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-eye-off:before {
  content: "\e911";
}
.icon-folder:before {
  content: "\e912";
}
.icon-layers:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-printer:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-share:before {
  content: "\e919";
}
.icon-shopping-cart:before {
  content: "\e91a";
}
.icon-sliders:before {
  content: "\e91b";
}
.icon-trash:before {
  content: "\e91c";
}
.icon-unlock:before {
  content: "\e91d";
}
.icon-upload:before {
  content: "\e91e";
}
.icon-user-check:before {
  content: "\e91f";
}
.icon-video:before {
  content: "\e920";
}
.icon-video-off:before {
  content: "\e921";
}
.icon-zoom-in:before {
  content: "\e922";
}
.icon-zoom-out:before {
  content: "\e923";
}
.icon-list:before {
  content: "\e9ba";
}
