@font-face {
  font-family: 'z-icon';
  src: url('../fonts/icon/z-icon.eot?6bw5wp');
  src: url('../fonts/icon/z-icon.eot?6bw5wp#iefix') format('embedded-opentype'), url('../fonts/icon/z-icon.ttf?6bw5wp') format('truetype'), url('../fonts/icon/z-icon.woff?6bw5wp') format('woff'), url('../fonts/icon/z-icon.svg?6bw5wp#z-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'z-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-grid:before {
  content: "\e900";
}
.icon-alert-circle:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e92b";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-box:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-check-circle:before {
  content: "\e90a";
}
.icon-check-square:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e926";
}
.icon-chevron-left:before {
  content: "\e927";
}
.icon-chevron-right:before {
  content: "\e928";
}
.icon-chevron-up:before {
  content: "\e929";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-credit-card:before {
  content: "\e90d";
}
.icon-database:before {
  content: "\e90e";
}
.icon-download:before {
  content: "\e92c";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-eye-off:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e912";
}
.icon-headphones:before {
  content: "\e92e";
}
.icon-help-circle:before {
  content: "\e92f";
}
.icon-home:before {
  content: "\e930";
}
.icon-image:before {
  content: "\e93d";
}
.icon-layers:before {
  content: "\e913";
}
.icon-lock:before {
  content: "\e914";
}
.icon-log-in:before {
  content: "\e931";
}
.icon-log-out:before {
  content: "\e932";
}
.icon-mail:before {
  content: "\e915";
}
.icon-map:before {
  content: "\e933";
}
.icon-map-pin:before {
  content: "\e934";
}
.icon-menu:before {
  content: "\e92a";
}
.icon-message-circle:before {
  content: "\e935";
}
.icon-message-square:before {
  content: "\e936";
}
.icon-phone:before {
  content: "\e916";
}
.icon-phone-call:before {
  content: "\e937";
}
.icon-plus:before {
  content: "\e938";
}
.icon-printer:before {
  content: "\e917";
}
.icon-refresh-ccw:before {
  content: "\e93e";
}
.icon-search:before {
  content: "\e918";
}
.icon-settings:before {
  content: "\e924";
}
.icon-share:before {
  content: "\e919";
}
.icon-shopping-cart:before {
  content: "\e91a";
}
.icon-sliders:before {
  content: "\e91b";
}
.icon-thumbs-down:before {
  content: "\e93f";
}
.icon-thumbs-up:before {
  content: "\e940";
}
.icon-trash:before {
  content: "\e91c";
}
.icon-unlock:before {
  content: "\e91d";
}
.icon-upload:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e939";
}
.icon-user-check:before {
  content: "\e91f";
}
.icon-users:before {
  content: "\e93a";
}
.icon-video:before {
  content: "\e920";
}
.icon-video-off:before {
  content: "\e921";
}
.icon-wifi:before {
  content: "\e925";
}
.icon-wifi-off:before {
  content: "\e93b";
}
.icon-x:before {
  content: "\e93c";
}
.icon-zoom-in:before {
  content: "\e922";
}
.icon-zoom-out:before {
  content: "\e923";
}
.icon-list:before {
  content: "\e9ba";
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Inter';
  font-weight: normal;
}
img {
  max-width: 100%;
}
.btn {
  padding: 0.625rem 0 0.625rem 0;
  font-size: 14px;
  font-weight: 500;
}
.btn-primary {
  background: #1868FB;
}
.btn-primary:hover {
  background: #004FE2;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: none !important;
}
.required {
  color: #f21919;
}
.form-group {
  position: relative;
}
.form-group label {
  font-size: 13px;
  color: #0f1160;
  font-weight: 500;
}
.form-group .form-control {
  height: 44px;
  border-color: #bacee4;
}
.form-group .form-control:focus {
  border-color: #1868FB;
  box-shadow: none;
}
.form-group.password .field-group {
  position: relative;
}
.form-group.password .form-control {
  padding-right: 50px;
}
.form-group.password .icon-password {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  z-index: 1;
  cursor: pointer;
  color: #525777;
}
.check-toggle {
  padding-left: 0;
}
.check-toggle .form-check-input {
  position: absolute;
  left: 0;
  opacity: 0;
}
.check-toggle .form-check-label {
  cursor: pointer;
  font-size: 13px;
  color: #525777;
}
.check-toggle input.form-check-input:checked + .form-check-label .slider {
  background-color: #12BF76;
}
.check-toggle input.form-check-input:checked + .form-check-label .slider:before {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}
.check-toggle .slider {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
  background-color: #bacee4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.check-toggle .slider:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.check-toggle .slider.round {
  border-radius: 34px;
}
.check-toggle .slider.round:before {
  border-radius: 50%;
}
.page-wrapper {
  height: 100%;
}
.preloader {
  background: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.preloader.active .overlay-bg {
  top: 0;
}
.preloader.active .loader-inner img {
  top: 0;
}
.preloader .loader-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.preloader .loader-inner img {
  max-width: 300px;
  top: -100%;
  transition: top 5s ease-in-out 0.1s;
  position: relative;
}
.preloader .overlay-bg {
  background: #004FE2;
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  transition: top 5s ease-in-out 0.1s;
}
/* .img-1.active {
    animation: ani-1 4s ease 0s 1 normal forwards running;
  }
@keyframes ani-1 {
    0% {
        transform: translate(-500px, 0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
    }
} */
.img-1.active {
  -webkit-animation: ani-1 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-1 4s ease 0s 1 normal forwards running;
  animation: ani-1 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-1 {
  0% {
    transform: translate(-500px, 0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-1 {
  0% {
    transform: translate(-500px, 0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-1 {
  0% {
    transform: translate(-500px, 0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-2.active {
  -webkit-animation: ani-2 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-2 4s ease 0s 1 normal forwards running;
  animation: ani-2 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-2 {
  0% {
    transform: translate(-500px, -500px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-2 {
  0% {
    transform: translate(-500px, -500px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-2 {
  0% {
    transform: translate(-500px, -500px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-3.active {
  -webkit-animation: ani-3 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-3 4s ease 0s 1 normal forwards running;
  animation: ani-3 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-3 {
  0% {
    transform: translate(-200px, -500px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-3 {
  0% {
    transform: translate(-200px, -500px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-3 {
  0% {
    transform: translate(-200px, -500px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-4.active {
  -webkit-animation: ani-4 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-4 4s ease 0s 1 normal forwards running;
  animation: ani-4 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-4 {
  0% {
    transform: translate(0px, -500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-4 {
  0% {
    transform: translate(0px, -500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-4 {
  0% {
    transform: translate(0px, -500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-5.active {
  -webkit-animation: ani-5 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-5 4s ease 0s 1 normal forwards running;
  animation: ani-5 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-5 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-5 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-5 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-6.active {
  -webkit-animation: ani-6 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-6 4s ease 0s 1 normal forwards running;
  animation: ani-6 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-6 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-6 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-6 {
  0% {
    transform: translate(75px, 500px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-7.active {
  -webkit-animation: ani-7 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-7 4s ease 0s 1 normal forwards running;
  animation: ani-7 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-7 {
  0% {
    transform: translate(75px, 400px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-7 {
  0% {
    transform: translate(75px, 400px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-7 {
  0% {
    transform: translate(75px, 400px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-8.active {
  -webkit-animation: ani-8 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-8 4s ease 0s 1 normal forwards running;
  animation: ani-8 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-8 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-8 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-8 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-9.active {
  -webkit-animation: ani-9 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-9 4s ease 0s 1 normal forwards running;
  animation: ani-9 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-9 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-9 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-9 {
  0% {
    transform: translate(-150px, 500px) rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.img-10.active {
  -webkit-animation: ani-10 4s ease 0s 1 normal forwards running;
  -moz-animation: ani-10 4s ease 0s 1 normal forwards running;
  animation: ani-10 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes ani-10 {
  0% {
    transform: translate(-150px, -35px) rotate(-25deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes ani-10 {
  0% {
    transform: translate(-150px, -35px) rotate(-25deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-10 {
  0% {
    transform: translate(-150px, -35px) rotate(-25deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.main-image.active {
  -webkit-animation: main-image 4s ease 0s 1 normal forwards running;
  -moz-animation: main-image 4s ease 0s 1 normal forwards running;
  animation: main-image 4s ease 0s 1 normal forwards running;
}
@-moz-keyframes main-image {
  0% {
    transform: translate(100px, 800px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes main-image {
  0% {
    transform: translate(100px, 800px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes main-image {
  0% {
    transform: translate(100px, 800px) rotate(12deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 1;
  }
}
.login-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-wrapper .left-pane {
  background: #f3f6fb;
}
.login-wrapper .image-wrapper {
  height: 100%;
}
.login-wrapper .img-wrap-inner {
  position: relative;
}
.login-wrapper .img-wrap-inner .img-info {
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: 1;
}
.login-wrapper .img-wrap-inner .img-info img {
  max-width: 60%;
}
.login-wrapper .img-wrap-inner .img-1 {
  top: -150px;
  left: -50px;
}
.login-wrapper .img-wrap-inner .img-2 {
  top: -80px;
  left: 160px;
}
.login-wrapper .img-wrap-inner .img-3 {
  top: -80px;
  right: 170px;
}
.login-wrapper .img-wrap-inner .img-4 {
  right: -15px;
  top: -15px;
}
.login-wrapper .img-wrap-inner .img-5 {
  right: -65px;
  top: 45%;
}
.login-wrapper .img-wrap-inner .img-6 {
  right: -100px;
  bottom: -125px;
}
.login-wrapper .img-wrap-inner .img-7 {
  left: 200px;
  bottom: -30px;
}
.login-wrapper .img-wrap-inner .img-8 {
  left: 0px;
  bottom: -125px;
}
.login-wrapper .img-wrap-inner .img-9 {
  left: -20px;
  bottom: 50px;
}
.login-wrapper .img-wrap-inner .img-10 {
  left: -160px;
  top: 50px;
}
.login-wrapper .img-wrap-inner .main-image {
  opacity: 0;
}
.login-wrapper .img-wrap-inner .main-image img {
  max-width: 512px;
  margin: 0 auto;
}
.login-wrapper .right-pane {
  width: 100%;
  height: 100%;
}
.login-wrapper .form-wrapper {
  height: 100%;
  overflow-y: auto;
}
.login-wrapper .form-outer {
  width: 100%;
  margin: 30px 0;
}
.login-wrapper .form-outer .logo {
  display: inline-block;
}
.login-wrapper .form-outer .header {
  width: 100%;
  text-align: center;
  margin: 20px 0 40px;
}
.login-wrapper .form-inner {
  max-width: 384px;
  border-radius: 8px;
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 30px;
  margin: 0 auto;
}
.login-wrapper .form-inner .heading {
  color: #0f1160;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.login-wrapper .form-inner .additional {
  margin-bottom: 1rem;
  color: #525777;
  font-size: 13px;
}
.login-wrapper .form-inner .additional a {
  color: inherit;
  text-decoration: none;
}
.login-wrapper .form-inner .additional a:hover {
  color: #004FE2;
}
.header-navbar {
  background: #ffffff;
}
.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.navbar-wrapper .navbar-header {
  background: #0f1160;
  border-bottom: 1px solid #000250;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  max-width: 280px;
  padding: 22px 25px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  align-items: center;
}
.navbar-wrapper .navbar-header a {
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.navbar-wrapper .navbar-header img {
  max-width: 132px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.navbar-wrapper .navbar-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 280px);
  flex: 0 0 calc(100% - 280px);
  max-width: calc(100% - 280px);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  padding: 15px 30px;
}
.navbar-wrapper .navbar-container .left-side {
  flex-wrap: wrap;
  align-items: center;
}
.navbar-wrapper .navbar-container .dropdown {
  font-size: 13px;
}
.navbar-wrapper .navbar-container .dropdown-toggle {
  font-size: inherit;
  font-weight: 500;
  padding: 5px 10px;
  line-height: normal;
  height: 30px;
  min-width: 100px;
  color: #ffffff;
}
.navbar-wrapper .navbar-container .dropdown-toggle:hover {
  color: #ffffff;
}
.navbar-wrapper .navbar-container .dropdown-menu {
  top: 52px !important;
  padding: 0;
  margin: 0;
}
.navbar-wrapper .navbar-container .notification-dropdown {
  width: 16px;
  height: 18px;
  margin-right: 25px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-toggle {
  color: #7081b9;
  text-decoration: none;
  padding: 0;
  font-size: 16px;
  position: relative;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-toggle:after {
  display: none;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-toggle .badge {
  width: 18px;
  height: 18px;
  background: #1868FB;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: -8px;
  right: -8px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu {
  top: 46px !important;
  min-width: 320px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu li {
  padding: 15px 20px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu li a {
  text-decoration: none;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu li ~ li {
  border-top: 1px solid #bacee4;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu-header .dropdown-header {
  padding: 0;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu-header .badge {
  width: 20px;
  height: 20px;
  background: #1868FB;
  border-radius: 50%;
  padding: 0;
  line-height: 20px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu-footer {
  text-align: center;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu-footer a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #0f1160;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-list {
  padding: 0;
  max-height: 158px;
  overflow-y: auto;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-list a {
  padding: 20px;
  display: block;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-list a + a {
  border-top: 1px solid #bacee4;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #bacee4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-left i {
  font-size: 16px;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-body .media-heading {
  font-size: 13px;
  line-height: 16px;
  color: #525777;
  font-weight: 600;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-body p {
  font-size: 11px;
  line-height: 14px;
  color: #7081b9;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-body .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.navbar-wrapper .navbar-container .notification-dropdown .dropdown-menu .media-body small {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.navbar-wrapper .menu-toggle {
  color: #7081b9;
  width: 25px;
  height: 14px;
  padding: 0;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-wrapper .menu-toggle .bar {
  width: 100%;
  height: 2px;
  background: #7081b9;
  display: block;
}
.navbar-wrapper .account-dropdown .dropdown-toggle {
  font-size: 14px;
}
.navbar-wrapper .account-dropdown .dropdown-item i {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 74px;
}
.page-main .sidebar-menu {
  padding-top: 20px;
  height: inherit;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  max-width: 280px;
  background: #0f1160;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.page-main .sidebar-menu .navigation {
  overflow-y: auto;
  height: calc(100vh - 74px);
}
.page-main .sidebar-menu .navigation .navbar-nav > li > a {
  width: 280px;
}
.page-main .sidebar-menu ul li a {
  font-weight: 500;
  color: #ffffff;
  padding: 15px 30px;
  display: block;
  font-size: 16px;
}
.page-main .sidebar-menu ul li a:hover {
  background: #1868FB;
}
.page-main .sidebar-menu ul li a span {
  margin-left: 8px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.page-main .main-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 280px);
  flex: 0 0 calc(100% - 280px);
  max-width: calc(100% - 280px);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  background: #f3f6fb;
  margin-left: 280px;
  height: calc(100vh - 74px);
  position: relative;
}
.page-main .main-content .page-heading {
  font-size: 26px;
  color: #0f1160;
  font-weight: 500;
  padding: 20px 30px;
}
.page-main .main-content .add-data-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin: auto;
}
.page-main .main-content .add-data-wrapper .add-data-inner {
  display: inline-block;
}
.page-main .main-content .add-data-wrapper .heading {
  font-size: 20px;
  font-weight: 500;
  color: #7081b9;
  line-height: 36px;
  margin-bottom: 20px;
}
.page-main .main-content .js-btn {
  border-radius: 50%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  height: 158px;
  width: 158px;
  margin: 0 auto;
  color: #bacee4;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.8s;
  cursor: pointer;
  -webkit-user-select: none;
  transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
  border: 1px dashed #7081b9;
  font-size: 30px;
}
.page-main .main-content .js-btn:hover {
  color: #1868FB;
}
.page-main .main-content .js-btn:hover .circle {
  stroke-dashoffset: 0;
}
.page-main .main-content .js-btn svg {
  position: absolute;
  left: 0;
  top: 0;
}
.page-main .main-content .js-btn .circle {
  stroke-dasharray: 301.59px 301.59px;
  stroke-dashoffset: 301.59px;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
  stroke: #1868FB;
}
.menu-slide .navbar-header,
.menu-slide .sidebar-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
}
.menu-slide .navbar-header {
  padding: 22px 15px;
}
.menu-slide .navbar-header a {
  overflow: hidden;
  width: 30px;
}
.menu-slide .navbar-container,
.menu-slide .main-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 60px);
  flex: 0 0 calc(100% - 60px);
  max-width: calc(100% - 60px);
}
.menu-slide .main-content {
  margin-left: 60px;
}
.menu-slide .sidebar-menu .navbar-nav > li a {
  padding: 15px 22px;
}
.menu-slide .sidebar-menu .navbar-nav > li a span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.dropdown {
  font-size: 13px;
}
.dropdown-toggle {
  font-size: inherit;
  font-weight: 500;
  padding: 5px 10px;
  line-height: normal;
  height: 30px;
  min-width: 100px;
  color: #ffffff;
}
.dropdown-toggle:after {
  content: "\e926";
  font-family: "z-icon";
  height: auto;
  width: auto;
  border: none;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.dropdown.show .dropdown-toggle:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.dropdown-menu {
  display: block;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  opacity: 0;
  font-size: inherit;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  border-color: #bacee4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}
.dropdown-menu-right {
  left: auto !important;
  right: 0;
}
.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}
.dropdown-menu .dropdown-item {
  padding: 10px 20px;
  -webkit-transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  -ms-transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
.dropdown-menu .dropdown-item:hover {
  background: #004FE2;
  color: #ffffff;
}
.dropdown-menu .dropdown-item + .dropdown-item {
  border-top: 1px solid #bacee4;
}
@media screen and (min-width: 1440px) {
  .login-wrapper .left-pane {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 700px);
    flex: 0 0 calc(100% - 700px);
    max-width: calc(100% - 700px);
  }
  .login-wrapper .right-pane {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 700px;
    flex: 0 0 700px;
    max-width: 700px;
  }
  .page-main .main-content .add-data-wrapper .heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .login-wrapper .img-wrap-inner .main-image img {
    max-width: 430px;
  }
}
@media screen and (max-width: 1023px) {
  .login-wrapper {
    margin: 0;
    position: static;
    height: 100%;
  }
  .login-wrapper .left-pane {
    display: none;
  }
  .login-wrapper .right-pane {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
