html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: 'Inter-Regular';
}

.form-group label {
    font-size: 13px;
    color: #0f1160;
}

.form-control {
    height: 44px;
    border-color: #bacee4;
}

.form-control:focus {
    border-color: #1868fb;
    box-shadow: none;
}


.check-toggle {
    padding-left: 0;
}

.check-toggle .form-check-input {
    position: absolute;
    left: 0;
    opacity: 0;
}

.check-toggle .form-check-label {
    cursor: pointer;
    font-size: 13px;
    color: #525777;
}

.slider {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.check-toggle input.form-check-input:checked + .form-check-label .slider {
    background-color: #03d87f;
}

.check-toggle input.form-check-input:checked + .form-check-label .slider:before {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.preloader {
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.loader-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.preloader .overlay-bg {
    background: #1868fb;
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    transition: all 5s ease-in-out 0.10s;
}

.preloader.active .overlay-bg {
    top: 0;
}


.loader-inner img {
    max-width: 300px;
}

.login-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.left-pane {
    background: #f3f6fb;
}

.right-pane {
    width: 100%;
    height: 100%;
}

.form-wrapper {
    height: 100%;
    overflow-y: auto;
}

.form-outer {
    width: 100%;
}

.form-outer .header {
    width: 100%;
    text-align: center;
    margin: 20px 0 40px;
}

.logo {
    display: inline-block;
}


.form-inner {
    max-width: 384px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 30px;
    margin: 0 auto;
}

.form-inner .heading {
    color: #0f1160;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-inner .additional {
    margin-bottom: 1rem;
    color: #525777;
    font-size: 13px;
}

.form-inner .additional a {
    color: inherit;
    text-decoration: none;

}

.form-inner .additional a:hover {
    color: #1868fb;
}