
@import 'mixin.less';
@import 'icons/style.less';
@import 'variables.less';

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: normal;
}

img {
    max-width: 100%;
}


@import 'form.less';

.page-wrapper {
    height: 100%;
}


.preloader {
    background: @white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;

    &.active {
        .overlay-bg {
            top: 0;
        }

        .loader-inner {
            img {
                top: 0;
            }
        }
    }

    .loader-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        img {
            max-width: 300px;
            top: -100%;
            transition: top 5s ease-in-out 0.10s;
            position: relative;
        }
    }

    .overlay-bg {
        background: @primary-hover;
        position: fixed;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0;
        transition: top 5s ease-in-out 0.10s;
    }
}



/* .img-1.active {
    animation: ani-1 4s ease 0s 1 normal forwards running;
  }
@keyframes ani-1 {
    0% {
        transform: translate(-500px, 0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
    }
} */

.img-1.active  {
	.keyframes(ani-1;{
		0% {
            transform: translate(-500px, 0) rotate(-45deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-1 4s ease 0s 1 normal forwards running);
}


.img-2.active  {
	.keyframes(ani-2;{
		0% {
            transform: translate(-500px, -500px) rotate(-90deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-2 4s ease 0s 1 normal forwards running);
}


.img-3.active  {
	.keyframes(ani-3;{
		0% {
            transform: translate(-200px, -500px) rotate(45deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-3 4s ease 0s 1 normal forwards running);
}

.img-4.active  {
	.keyframes(ani-4;{
		0% {
            transform: translate(0px, -500px) rotate(12deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-4 4s ease 0s 1 normal forwards running);
}

.img-5.active  {
	.keyframes(ani-5;{
		0% {
            transform: translate(75px, 500px) rotate(12deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-5 4s ease 0s 1 normal forwards running);
}

.img-6.active  {
	.keyframes(ani-6;{
		0% {
            transform: translate(75px, 500px) rotate(12deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-6 4s ease 0s 1 normal forwards running);
}


.img-7.active  {
	.keyframes(ani-7;{
		0% {
            transform: translate(75px, 400px) rotate(45deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-7 4s ease 0s 1 normal forwards running);
}


.img-8.active  {
	.keyframes(ani-8;{
		0% {
            transform: translate(-150px, 500px) rotate(90deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-8 4s ease 0s 1 normal forwards running);
}


.img-9.active  {
	.keyframes(ani-9;{
		0% {
            transform: translate(-150px, 500px) rotate(90deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-9 4s ease 0s 1 normal forwards running);
}


.img-10.active  {
	.keyframes(ani-10;{
		0% {
            transform: translate(-150px,-35px) rotate(-25deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(ani-10 4s ease 0s 1 normal forwards running);
}


.main-image.active  {
	.keyframes(main-image;{
		0% {
            transform: translate(100px, 800px) rotate(12deg);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
            opacity: 1;
        }
        });

	.animation(main-image 4s ease 0s 1 normal forwards running);
}



.login-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .left-pane {
        background: @l-white;
    }

    .image-wrapper {
        height: 100%;
    }

    .img-wrap-inner {
        position: relative;

        .img-info {
            position: absolute;
            text-align: center;
            opacity: 0;
            z-index: 1;

            img {
                max-width: 60%;
            }
        }

        .img-1 {
            top: -150px;
            left: -50px;
        }

        .img-2 {
            top: -80px;
            left: 160px;
        }

        .img-3 {
            top: -80px;
            right: 170px;
        }

        .img-4 {
            right: -15px;
            top: -15px;
        }

        .img-5{
            right: -65px;
            top: 45%;
        }

        .img-6{
            right: -100px;
            bottom: -125px;
        }

        .img-7{
            left: 200px;
            bottom: -30px;
        }

        .img-8{
            left: 0px;
            bottom: -125px;
        }

        .img-9{
            left: -20px;
            bottom: 50px;
        }
        .img-10{
            left: -160px;
            top: 50px;
        }

        .main-image {
            opacity: 0;
            img {
                max-width: 512px;
                margin: 0 auto;
            }
        }
    }



    .right-pane {
        width: 100%;
        height: 100%;
    }

    .form-wrapper {
        height: 100%;
        overflow-y: auto;
    }

    .form-outer {
        width: 100%;
        margin: 30px 0;

        .logo {
            display: inline-block;
        }

        .header {
            width: 100%;
            text-align: center;
            margin: 20px 0 40px;
        }
    }


    .form-inner {
        max-width: 384px;
        border-radius: 8px;
        box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
        background-color: @white;
        padding: 30px;
        margin: 0 auto;

        .heading {
            color: @color-blue;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: 700;
        }

        .additional {
            margin-bottom: 1rem;
            color: @color-gray;
            font-size: 13px;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: @primary-hover;
                }
            }
        }
    }
}


.header-navbar {
    background: #ffffff;
}

    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        .navbar-header {
            background: @color-blue;
            border-bottom: 1px solid @color-dark-blue;
            .flex-width(280px);
            padding: 22px 25px;
            text-align: center;
            .transition(all 0.5s ease 0s);
            align-items: center;

            a {
                display: inline-block;
                .transition(all 0.5s ease 0s);
            }

            img {
                max-width: 132px;
                margin: 0 auto;
                .transition(all 0.5s ease 0s);
            }
        }

        .navbar-container {
            .flex-width(calc(100% - 280px));
            .transition(all 0.5s ease 0s);
            padding: 15px 30px;

            .left-side {
                flex-wrap: wrap;
                align-items: center;
            }

            .dropdown {
                font-size: 13px;
        
                &-toggle {
                    font-size: inherit;
                    font-weight: 500;
                    padding: 5px 10px;
                    line-height: normal;
                    height: 30px;
                    min-width: 100px;
                    color: @white;

                    &:hover {
                        color: @white;
                    }
                }

                &-menu {
                    top: 52px !important;
                    padding: 0;
                    margin: 0;
                }
            }

            .notification-dropdown {
                width: 16px;
                height: 18px;
                margin-right: 25px;
                .dropdown-toggle {
                    color: @icon-color;
                    text-decoration: none;
                    padding: 0;
                    font-size: 16px;
                    position: relative;

                    &:after {
                        display: none;
                    }

                    .badge {
                        width: 18px;
                        height: 18px;
                        background: @primary-color;
                        border-radius:50%;
                        color: @white;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                    }
                }

                .dropdown-menu {
                    top: 46px !important;
                    min-width: 320px;

                    li {
                        padding: 15px 20px;

                        a {
                            text-decoration: none;
                        }
                    }

                    li ~ li {
                        border-top: 1px solid @light-gray;
                    }

                    &-header {
                        .flex();
                        justify-content: space-between;
                        align-items: center;
                        

                        .dropdown-header {
                            padding: 0;
                        }

                        .badge {
                            width: 20px;
                            height: 20px;
                            background: @primary-color;
                            border-radius: 50%;
                            padding: 0;
                            line-height: 20px;
                        }
                    }

                    &-footer {
                        text-align: center;
                        a {
                            font-size: 12px;
                            line-height: 15px;
                            font-weight: 500;
                            color: @color-blue;
                        }
                    }



                    .media {
                        &-list {
                            padding: 0;
                            max-height: 158px;
                            overflow-y: auto;

                            a {
                                padding: 20px;
                                display: block;
                                
                                & + a {
                                    border-top: 1px solid @light-gray;
                                }
                            }
                        }
                        &-left {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background: @light-gray;
                            .flex();
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;

                            i {
                                font-size: 16px;
                            }
                        }

                        &-body {
                            .flex();
                            .media-heading {
                                font-size: 13px;
                                line-height: 16px;
                                color: @color-gray;
                                font-weight: 600;
                            }
                            p {
                                font-size: 11px;
                                line-height: 14px;
                                color: @icon-color;
                                margin-bottom: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .info {
                                .flex-width(75%);
                            }

                            small {
                                .flex-width(25%);
                            }
                        }
                    }
                }
            }
        }


        .menu-toggle {
            color: @icon-color;
            width: 25px;
            height: 14px;
            padding: 0;
            margin-right: 20px;
            .flex();
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;

            .bar {
                width: 100%;
                height: 2px;
                background: @icon-color;
                display: block;
            }
        }


        

        .account-dropdown {
            .dropdown-toggle {
                font-size: 14px;
            }

            .dropdown-item {
                
                i {
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    
    .page-main {
        .flex();
        position: relative;
        top: 74px;
        .sidebar-menu {
            padding-top: 20px;
            height: inherit;
            .flex-width(280px);
            background: @color-blue;
            position: fixed;
            width: 100%;
            .transition(all 0.5s ease 0s);

            .navigation {
                overflow-y: auto;
                height: ~"calc(100vh - 74px)";

                .navbar-nav {
                    > li {
                        > a {
                            width: 280px;
                        }
                    }
                }
            }



            ul {
                li {
                    a {
                        font-weight: 500;
                        color: @white;
                        padding: 15px 30px;
                        display: block;
                        font-size: 16px;

                        &:hover {
                            background: @primary-color;
                        }

                        span {
                            margin-left: 8px;
                            .transition(all 0.5s ease 0s);
                        }
                    }
                }
            }
        }

        .main-content {
            .flex-width(calc(100% - 280px));
            .transition(all 0.5s ease 0s);
            background: @l-white;
            margin-left: 280px;
            height: ~"calc(100vh - 74px)";
            position: relative;


            .page-heading {
                font-size: 26px;
                color: @color-blue;
                font-weight: 500;
                padding: 20px 30px;
            }


            .add-data-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                .transform(translate(-50%, -50%));
                margin: auto;

                .add-data-inner {
                    display: inline-block;
                }

                .heading {
                    font-size: 20px;
                    font-weight: 500;
                    color: @icon-color;
                    line-height: 36px;
                    margin-bottom: 20px;
                }
            }


            .js-btn {
                border-radius: 50%;
                background: @white;
                .flex();
                align-items: center;
                justify-content: center;
                position: relative;
                white-space: nowrap;
                height: 158px;
                width: 158px;
                margin: 0 auto;
                color: @light-gray;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.8s;
                cursor: pointer;
                -webkit-user-select: none;
                transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
                border: 1px dashed @icon-color;
                font-size: 30px;

                &:hover {
                    .circle {
                        stroke-dashoffset: 0;
                      }
                      color: @primary-color;
                  }

                  svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                  }

                  .circle {
                    stroke-dasharray: 301.59px 301.59px;
                    stroke-dashoffset: 301.59px;
                    transition: all 0.8s;
                    transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
                    stroke: @primary-color;
                  }
              }
        }
    }


    .menu-slide {
        .navbar-header,
        .sidebar-menu {
            .flex-width(60px);
        }

        .navbar-header {
            padding: 22px 15px;
            a {
                overflow: hidden;
                width: 30px;
            }
        }

        .navbar-container,
        .main-content {
            .flex-width(calc(100% - 60px));
        }

        .main-content {
            margin-left: 60px;
        }

        .sidebar-menu {
            .navbar-nav > {
                > li {
                    a {
                        padding: 15px 22px;
                        span {
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }


    .dropdown {
        font-size: 13px;

        &-toggle {
            font-size: inherit;
            font-weight: 500;
            padding: 5px 10px;
            line-height: normal;
            height: 30px;
            min-width: 100px;
            color: @white;
            &:after {
                content: @icon-chevron-down;
                font-family: @icomoon-font-family;
                height: auto;
                width: auto;
                border: none;
                vertical-align: middle;
                .transition(all 0.5s ease 0s);
            }
        }

        &.show {
            .dropdown-toggle:after {
                .transform(rotate(180deg));
            }
        }

        &-menu {
            display: block;
            visibility: hidden;
            .transition(all 0.5s ease 0s);
            opacity: 0;
            font-size: inherit;
            box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
            border-color: @light-gray;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .transform(none) !important;

            &-right {
                left: auto !important;
                right: 0;
            }

            &.show {
                visibility: visible;
                opacity: 1;
            }


            .dropdown-item {
                padding: 10px 20px;
                .transition(all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s);

                &:hover {
                    background: @primary-hover;
                    color: @white;
                }
            }

            .dropdown-item + .dropdown-item {
                border-top: 1px solid @light-gray;
            }
        }
    }


@media screen and (min-width: 1440px) {
    .login-wrapper {
        .left-pane {
            .flex-width(calc(100% - 700px));
        }

        .right-pane {
            .flex-width(700px);
        }
    }

    .page-main {
        .main-content {
            .add-data-wrapper {
                .heading {
                    font-size: 30px;
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .login-wrapper {
        .img-wrap-inner {
            .main-image img {
                max-width: 430px;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .login-wrapper {
        margin: 0;
        position: static;
        height: 100%;
        .left-pane {
            display: none;
        }

        .right-pane {
            .flex-width(percentage(1));
        }
    }
}