
@import 'mixin.less';
@import 'icons/style.less';
@import 'variables.less';

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Inter';
    font-weight: normal;
    background: @l-white;
}

a {
    color: @primary-color;
}

img {
    max-width: 100%;
}

.page-wrapper {
    min-height: 100vh;
}


@import 'form.less';
@import 'modal.less';

@import 'components/login.less';


ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}


body{
    overflow: hidden;

    .page-loaded & {
        overflow-y: auto;
    }
}

.preloader {
    background: @white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;

    &.active {
        .overlay-bg {
            top: 0;
        }

        .loader-inner {
            img {
                top: 0;
            }
        }
    }

    .loader-inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        img {
            max-width: 300px;
            top: -100%;
            transition: top 5s ease-in-out 0.10s;
            position: relative;
        }
    }

    .overlay-bg {
        background: @primary-hover;
        position: fixed;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0;
        transition: top 5s ease-in-out 0.10s;
    }
}



/* .img-1.active {
    animation: ani-1 4s ease 0s 1 normal forwards running;
  }
@keyframes ani-1 {
    0% {
        transform: translate(-500px, 0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 1;
    }
} */




.header-navbar {
    background: #ffffff;
}

    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        .navbar-header {
            background: @color-blue;
            border-bottom: 1px solid @color-dark-blue;
            .flex-width(280px);
            padding: 20px 25px;
            text-align: center;
            .transition(all 0.5s ease 0s);
            .flex();
            align-items: center;

            a {
                display: inline-block;
                .transition(all 0.5s ease 0s);
                width: 132px;
            }

            img {
                max-width: 132px;
                margin: 0 auto;
                .transition(all 0.5s ease 0s);
                display: block;
            }
        }

        .navbar-container {
            .flex-width(calc(100% - 280px));
            .transition(all 0.5s ease 0s);
            padding: 15px 30px;
            border-bottom: 1px solid @light-gray;
            background: @white;

            .left-side {
                flex-wrap: wrap;
                align-items: center;
            }

            .dropdown {
                font-size: 13px;
                &-toggle {
                    font-size: inherit;
                    font-weight: 500;
                    padding: 5px 10px;
                    line-height: normal;
                    color: @white;

                    &:hover {
                        color: @white;
                    }
                }

                &-menu {
                    top: -500px !important;
                    padding: 0;
                    margin: 0;
                    z-index: -1;
                }

                &.show {
                    .dropdown-menu {
                        top: 56px !important;
                    }
                }
            }

            .notification-dropdown {
                width: 16px;
                height: 18px;
                margin-right: 25px;
                .dropdown-toggle {
                    color: @icon-color;
                    text-decoration: none;
                    padding: 0;
                    font-size: 16px;
                    position: relative;

                    &:after {
                        display: none;
                    }

                    .badge {
                        width: 18px;
                        height: 18px;
                        background: @primary-color;
                        border-radius:50%;
                        color: @white;
                        position: absolute;
                        top: -8px;
                        right: -8px;
                    }
                }

                &.show {
                    .dropdown-menu {
                        top: 50px !important;
                    }
                }

                .dropdown-menu {
                    top: -500px !important;
                    min-width: 320px;

                    li {

                        a {
                            text-decoration: none;
                        }
                    }

                    li ~ li {
                        border-top: 1px solid @light-gray;
                    }

                    &-header {
                        .flex();
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 20px;

                        .dropdown-header {
                            padding: 0;
                        }

                        .badge {
                            width: 20px;
                            height: 20px;
                            background: @primary-color;
                            border-radius: 50%;
                            padding: 0;
                            line-height: 20px;
                        }
                    }

                    &-footer {
                        text-align: center;
                        padding: 0;
                        a {
                            font-size: 12px;
                            line-height: 15px;
                            font-weight: 500;
                            color: @color-blue;
                            padding: 15px 20px;
                            display: block;

                            &:hover {
                                background: @primary-color;
                                color: @white;
                            }
                        }
                    }



                    .media {
                        &-list {
                            padding: 0;
                            max-height: 158px;
                            overflow-y: auto;

                            a {
                                padding: 20px;
                                display: block;
                                
                                & + a {
                                    border-top: 1px solid @light-gray;
                                }
                            }
                        }
                        &-left {
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            background: @light-gray;
                            .flex();
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;

                            i {
                                font-size: 16px;
                            }
                        }

                        &-body {
                            .flex();
                            .media-heading {
                                font-size: 13px;
                                line-height: 16px;
                                color: @color-gray;
                                font-weight: 600;
                            }
                            p {
                                font-size: 11px;
                                line-height: 14px;
                                color: @icon-color;
                                margin-bottom: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .info {
                                .flex-width(75%);
                            }

                            small {
                                .flex-width(25%);
                            }
                        }
                    }
                }
            }
        }


        .menu-toggle {
            color: @icon-color;
            width: 18px;
            height: 12px;
            padding: 0;
            margin-right: 20px;
            .flex();
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;

            .bar {
                width: 100%;
                height: 2px;
                background: @icon-color;
                display: block;
            }
        }


        

        .account-dropdown {
            .dropdown-toggle {
                font-size: 14px;
            }

            .dropdown-item {
                & + .dropdown-item {
                    border: none;
                }
                i {
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }


    .page-main {
        .flex();
        position: relative;
        top: 71px;
        .sidebar-menu {
            height: inherit;
            .flex-width(280px);
            background: @color-blue;
            position: fixed;
            width: 100%;
            .transition(all 0.5s ease 0s);

            .ps--active-x {
                .ps__rail-x {
                    display: none;
                }
            }

            .main-menu {
                padding-top: 20px;
            }

            .navigation {
               overflow-y: auto;
               overflow-x: hidden;
               height: ~"calc(100vh - 90px)";

                .navbar-nav {
                    > li {
                        > a {
                            white-space: nowrap;
                        }
                    }
                }
            }


            .parent {
                position: relative;
                .menu-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 54px;
                    height: 100%;
                    .flex();
                    align-items: center;
                    justify-content: center;
                    &:before {
                        .transition(all 0.5s ease 0s);
                    }
                }

                &.show {
                    > a {
                        .menu-icon {
                            &:before {
                                .transform(rotate(90deg));
                            }
                        }
                    }
                }

                .submenu {
                    display: none;
                    padding: 0;
                    background: @color-dark-blue;
                    list-style: none;

                    li {
                        &.submenu-heading {
                            display: none;
                            padding: 12px 20px;
                            background: @primary-color;
                            color: @white;
                            font-weight: 600;
                        }
                        a {
                            padding-left: 50px;
                            span {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }



            ul {
                li {

                    &.active {
                        > a {
                            background: @primary-color;
                        }
                    }

                    a {
                        font-weight: 500;
                        color: @white;
                        padding: 12px 30px;
                        display: block;
                        font-size: 14px;
                        position: relative;
                        .transition(all 0.5s ease 0s);

                        &::before {
                            content: '';
                            width: 0;
                            position: absolute;
                            top: 0;
                            background: @primary-color;
                            height: 100%;
                            left: 0;
                            .transition(all 0.5s ease 0s);
                        }

                        &:hover {
                            &::before {
                                width: 5px;
                            }
                        }

                        i, span {
                            position: relative;
                            z-index: 1;
                        }

                        span {
                            margin-left: 8px;
                            .transition(all 0.5s ease 0s);
                        }
                    }
                }
            }
        }

        .main-content {
            .flex-width(calc(100% - 280px));
            .transition(all 0.5s ease 0s);
            background: @l-white;
            margin-left: 280px;
            height: ~"calc(100vh - 71px)";
            position: relative;
            padding: 20px 30px;

            .page-heading {
                margin-bottom: 30px;
                .flex();
                align-items: center;

                .link-text  {
                    margin-left: auto;
                    text-decoration: none;
                }
            }

            .sub-heading {
                margin-bottom: 15px;
                .page-title {
                    font-size: 20px;
                }
            }

            .page-title {
                font-size: 26px;
                color: @color-blue;
                font-weight: 500;
                line-height: normal;

                & + .btn {
                    margin-left: 10px;
                    font-size: 13px;
                    font-weight: 600;
                    padding: 5px 16px;

                    .icon {
                        font-weight: inherit;
                    }
                }
            }


            


            .add-data-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                .transform(translate(-50%, -50%));
                margin: auto;
                max-width: 500px;
                width: 100%;
                text-align: center;

                .add-data-inner {
                    display: inline-block;
                }

                .heading {
                    font-size: 20px;
                    font-weight: 500;
                    color: @icon-color;
                    line-height: 36px;
                    margin-bottom: 20px;
                    text-align: center;
                }
            }


            .js-btn {
                border-radius: 50%;
                background: @white;
                .flex();
                align-items: center;
                justify-content: center;
                position: relative;
                white-space: nowrap;
                height: 160px;
                width: 160px;
                margin: 0 auto;
                color: @light-gray;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.8s;
                cursor: pointer;
                -webkit-user-select: none;
                transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
                font-size: 30px;

                &:hover {
                    .circle {
                        stroke-dashoffset: 0;
                      }
                      color: @primary-color;
                  }

                  svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                  }

                  .circle-dashed {
                      width: 98%;
                      height: 98%;
                      border-radius: 50%;
                      display: block;
                      position: absolute;
                      top: 1px;
                      left: 1px;
                      border: 1px dashed @icon-color;
                  }

                  .circle {
                    stroke-dasharray: 301.59px 301.59px;
                    stroke-dashoffset: 301.59px;
                    transition: all 0.8s;
                    transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
                    stroke: @primary-color;
                  }
              }
        }
    }

    /*
        Add integration
    */

    .add-integration-wrapper {
        padding: 40px;
        border: 1px solid @color-border;
        background: @white;
        border-radius: 8px;
        box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
        color: @color-gray;
        .card {
            border: none;
            border-radius: 8px;

            & + .card {
                margin-top: 20px;
            }

            &-header {
                background: @white;
                border-bottom: none;
                border-radius: 8px;
                padding: 0;
                border: 1px solid @light-gray;

                > div {
                    padding: 0px 30px 0;
                }
            }

            .card-body{
                border-radius: 8px;
                border: 1px solid @light-gray;
                margin-top: -1px;
                padding: 0;

                .grid-blk {
                    padding: 15px 30px 30px;

                    & + .grid-blk {
                        border-left: 1px solid @light-gray;
                    }
                }

                .info-wrapper {
                    margin: 0;

                    .heading {
                        color: @color-blue;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    .content-info {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: flex-end;

                        .btn {
                            padding: 7px 14px;
                            margin-top: 20px;
                        }

                        ul {
                            list-style: none;
                            padding-right: 15px;
                            li {
                                font-weight: 500;
                                & + li {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }


            .add-inte-wrap {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .add-inte-blk {
                .flex();
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                > div {
                    padding: 15px;
                }

                .heading {
                    font-size: 14px;
                    font-weight: 600;
                    color: @color-blue;
                    .flex-width(100px);
                    border-right: 1px solid @light-gray;
                }
                .date-info-detail {
                    .flex-width(200px);
                }

                .status-info-detail {
                    .flex-width(200px);
                }

                .publish-info-detail {
                    .flex-width(150px);
                }

                .dropdown {
                    .flex-width(32px);
                    padding: 0;
                    margin-left: 20px;

                    .btn {
                        border: 1px solid @light-gray;
                        width: 32px;
                        height: 32px;
                        color: @icon-color;
                        min-width: auto;
                        background: transparent;
                        padding: 0;
                        line-height: 32px;
                        text-align: center;

                        &:after {
                            display: none;
                        }
                    }

                    &-menu {
                        top: 50px !important;
                        right: 0;

                        &.show {
                            top: 35px !important;
                        }
                    }
                }

                .platform-info {
                    .flex-width(200px);
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    margin-left: 10px;
                    >span {
                        display: block;
                    }
                }
                .publish-info-detail,
                .status-info-detail,
                .date-info-detail {
                    strong {
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: 500;
                        color: @color-blue;
                        margin-bottom: 5px;
                    }
                    .publish-status,
                    .publish-info,
                    .date-info {
                        color: @color-gray;
                        span {
                            display: block;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }
                }

                .site-status {
                    .flex();
                    flex-wrap: wrap;
                    min-width: 140px;
                    border: 1px solid @light-gray;
                    padding: 10px 5px;
                    border-radius: 8px;

                    .form-check {
                        .flex-width(50%);
                        text-align: center;

                        & + .form-check {
                            border-left: 1px solid @light-gray;
                        }

                        > span {
                            display: block;
                            font-weight: 500;
                            color: @color-blue;
                            margin-bottom: 5px;
                            font-size: 12px;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }


    .new-connector {
        .modal-content {
            max-width: 384px;
            margin: 0 auto;
            width: 100%;
        }
    }

    .ps {
        position: relative;
    }

    .add-new-integrations {
        .modal-content {
            max-width: 1040px;
            margin: 0 auto;
            width: 100%;
        }

        .new-integrations-scroll {
            padding-right: 15px;
            max-height: 320px;
            overflow-y: auto;

            .ps__rail-y {
                height: 315px !important;
                background: @light-cyan;
                border: 1px solid @light-gray;
                width: 10px;
                .ps__thumb-y {
                    width: 6px;
                    margin: 0 auto;
                    background: @icon-color;
                    right: 1px;
                }
            }
        }

        .new-integrations-blk {
            border: 1px solid @light-gray;
            border-radius: 8px;
            padding: 20px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            & + .new-integrations-blk {
                margin-top: 10px;
            }

            &:hover {
                border-color: @primary-color;
            }


            .order-blk {
                flex: 0 0 20%;
            }

            .arrow-blk {
                flex: 0 0 10%;
                text-align: center;
                font-size: 25px;


                .icon-sec::before {
                    content: @icon-arrow-right;
                    font-family: @icomoon-font-family;
                }
            }

            .source-blk,
            .destination-blk {
                flex: 0 0 35%;
            }

            .inner-blk {
                border: 1px solid @light-gray;
                border-radius: 8px;

                .heading {
                    font-weight: 600;
                    color: @color-blue;
                    border-bottom: 1px solid @light-gray;
                    padding: 6px;
                    text-align: center;
                }
                .content-fields {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 10px 12px;
                    margin: 0 -5px;

                    .form-group {
                        flex: 0 0 50%;
                        padding: 0 5px;
                        margin-bottom: 0;

                        label {
                            line-height: normal;
                        }
                        .form-control {
                            height: 30px;
                            font-size: 13px;
                            padding: 2px 10px;
                        }
                    }
                }
            }
        }
    }

    .client-form {
        background: #ffffff;
        border: 1px solid @light-gray;
        padding: 30px;
        border-radius: 8px;
        max-width: 705px;
        width: 100%;
        margin-bottom: 50px;
        .fieldset {
            .flex();
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin-left: -10px;
            margin-right: -10px;

            .btn-group,
            .form-group {
                .flex-width(50%);
                padding: 0 10px;

                &-wrap {
                    .flex-width(100%);
                    .flex();
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .btn-group {
                margin-top: 15px;
            }
        }
    }

    .registered-clients-wrap {
        .client-name {
            i {
                font-size: 10px;
                color: @color-blue;
                margin-right: 5px;
            }
        }
    }

    .connector-wrap {
     max-width: 745px;
     margin: 0 auto;

        .content-heading {
            text-align: center;
            margin-bottom: 40px;
            color: @color-blue;
            font-size: 20px;
            font-weight: 600;
        }

        .card {
            border-radius: 0;
            overflow: hidden;
            border: none;
            margin-top: -1px;

            &:first-child {
                .card-header {
                    border-radius: 4px 4px 0 0;
                }
            }

            &:last-child {
                .card-header {
                    border-radius: 0 0 4px 4px;
                }
            }

            &.active {
                .card-header {
                    color: @primary-color;
                }
            }

            &-header {
                border: 1px solid @light-gray;
                cursor: pointer;
                color: @color-blue;
                font-weight: 600;
            }
            &-body {
                border: 1px solid @light-gray;
                margin-top: -1px;
                padding: 30px;

                .status-heading {
                    text-align: center;
                    margin-bottom: 20px;
                    color: @color-blue;
                    font-weight: 600;
                }
            }
            .btn-group {
                align-items: center;
                width: 100%;
                margin-top: 15px;

                .btn {
                    max-width: 160px;
                    display: inline-block;
                    margin: 0 auto;
                }
            }
        }
    }


    .card {

        &.active {
            .card-header {
                &:after {
                    content: @icon-chevron-up;
                }
            }
        }

        &-header {
            background: @white;

            &.with-arrow {
                position: relative;
                padding-right: 50px;
                &:after {
                    content: @icon-chevron-down;
                    font-family: @icomoon-font-family;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: @icon-color;
                    width: 47px;
                    height: 47px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                }
            }
        }

        &-body {

        }
    }


    .table-fixed-header{
        overflow: auto;
        position: relative;

        table {
            white-space: nowrap;
            margin-bottom: 0;
        }

        th , td {
            padding: 20px;
        }
      }

      thead tr th{
        text-align: left;
        position: relative;
        z-index: 99;
    }

    

    table {

        &.table {
            border: 1px solid @color-tab-bor;
        }
        td,
        th {
            padding: 18px;
        }
        th {
            color: @color-blue;
            font-weight: 600;
            background: @white;
        }

        td {
            color: @color-gray;
            font-weight: 500;
        }

        td[data-th]:before {
            content: attr(data-th);
            display: block;
            font-weight: 600;
            padding-bottom: 10px;
            display: none;
        }
    }


    .table-bordered {
        thead {
            td,
            th {
                border: 1px solid @color-tab-bor;
            }
        }

        th, td {
            background: @white;
            border: 1px solid @color-tab-bor;
        }
    }

    .dropdown {
        font-size: 13px;

        &-toggle {
            font-size: inherit;
            font-weight: 500;
            padding: 5px 10px;
            line-height: normal;
            height: 30px;
            min-width: 100px;
            color: @white;
            &:after {
                content: @icon-chevron-down;
                font-family: @icomoon-font-family;
                height: auto;
                width: auto;
                border: none;
                vertical-align: middle;
                .transition(all 0.5s ease 0s);
            }
        }

        &.show {
            .dropdown-toggle:after {
                .transform(rotate(180deg));
            }
        }

        &-menu {
            display: block;
            visibility: hidden;
            .transition(all 0.5s ease 0s);
            opacity: 0;
            font-size: inherit;
            box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
            border-color: @light-gray;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            .transform(none) !important;

            &-right {
                left: auto !important;
                right: 0;
            }

            &.show {
                visibility: visible;
                opacity: 1;
            }


            .dropdown-item {
                padding: 10px 20px;
                .transition(all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s);

                &:hover {
                    background: @primary-hover;
                    color: @white;
                }
            }

            .dropdown-item + .dropdown-item {
                border-top: 1px solid @light-gray;
            }
        }
    }


@media screen and (min-width: 1440px) {

    .table {
        th, td {
            font-size: 16px;
        }
    }

    .login-wrapper {
        .left-pane {
            .flex-width(calc(100% - 700px));
        }

        .right-pane {
            .flex-width(700px);
        }
    }

    .add-integration-wrapper {
        padding: 70px;
        .card {
            .add-inte-blk {
                .heading {
                    font-size: 16px;
                }
                .platform-info {
                    font-size: 16px;
                }
            }
        }
    }

    .connector-wrap {
        .card{
            &-header {
                font-size: 16px;
            }

            &-body {
                .status-heading {
                    font-size: 16px;
                }
            }
        }
    }

    .modal.add-new-integrations {
        .new-integrations-blk {
            .arrow-blk {
                flex: 0 0 10%;
            }

            .order-blk {
                flex: 0 0 10%;
            }

            .source-blk,
            .destination-blk {
                flex: 0 0 40%;
            }

        }
    }
}


@media screen and (min-width: 1024px) {
    .page-main {
        .main-content {
        }
    }

    .menu-slide {
        .navbar-header,
        .sidebar-menu {
            .flex-width(60px);
        }

        .navbar-header {
            padding: 20px 15px;
            a {
                overflow: hidden;
                width: 30px;
            }
        }

        .navbar-container,
        .main-content {
            .flex-width(calc(100% - 60px));
        }

        .main-content {
            margin-left: 60px;
        }

        .sidebar-menu {
            z-index: 1;

            .main-menu {
                position: relative;
            }
            .navbar-nav {
                > li {
                    > a {
                        padding-left: 22px;
                        padding-right: 22px;
                      >  span {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
                > .parent {
                    position: static;
                    &.show {
                        > .submenu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    > .submenu {
                        position: absolute;
                        display: block !important;
                        left: 100%;
                        top: 0;
                        bottom: 0;
                        list-style: none;
                        min-width: 250px;
                        opacity: 0;
                        visibility: hidden;
                        .transition(all 0.5s ease 0s);

                        > li {
                            &.submenu-heading {
                                display: block;
                            }
                        }

                        li {
                            a {
                                padding-left: 22px;
                                padding-right: 22px;
                            }
                        }
                    }
                    &:hover {
                        > .submenu {

                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1023px) {
    .navbar-wrapper {
        .navbar-header{
            .flex-width(60px);
            padding: 12px 15px;

            a {
                overflow: hidden;
                width: 30px;
            }
        }

        .navbar-container {
            .flex-width(calc(100% - 60px));
            padding: 15px;
        }
    }
    .page-main {
        top: 60px;
        .sidebar-menu {
            left: -100%;
            z-index: 1;
            .transition(all 0.5s ease-in-out 0s);
            top: 60px;
            bottom: 0;
        }
        .main-content {
            margin-left: 0;
            .flex-width(100%);
            height: ~"calc(100vh - 60px)";
        }
    }

    .menu-slide {
        .sidebar-menu {
            left: 0;
        }
    }
}



@media screen and (max-width: 768px) {
    .add-new-integrations {
        .new-integrations-blk {
            padding: 15px;
            .order-blk,
            .arrow-blk,
            .source-blk,
            .destination-blk {
                flex: 0 0 100%;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .order-blk{
                text-align: center;
            }

            .arrow-blk {
                .icon-sec::before {
                    content: @icon-arrow-down;
                }
            }

        }
    }
    .connector-wrap {
        .card-body {
            .test-sec {
                .fieldset {
                    padding-right: 20px;
                }
            }

            .live-sec {
                .fieldset {
                    padding-left: 20px;
                    position: relative;
                    &:before {
                        background: @light-gray;
                        height: 100%;
                        position: absolute;
                        left: -15px;
                        top: 0;
                        width: 1px;
                        content: '';
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 768px) {

    .dropdown {
        &-toggle {
            min-width: auto;
        }
    }

    .project-dropdown {
        display: none;
    }

    .page-main {
        .main-content {
            padding: 20px;

            .page-heading {
                flex-wrap: wrap;
            }

            .page-title {
                .flex-width(100%);

                & + .btn {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .add-integration-wrapper {
        padding: 20px;
        .card-header {
            > div {
                padding: 0px 15px 0;
            }
        }

        .card {
            .add-inte-blk {

                :not(.site-status) {
                    padding-left: 0;
                    padding-right: 0;
                }

                .heading {
                    .flex-width(100%);
                    border: none;
                    border-bottom: 1px solid @light-gray;
                }
                .platform-info {
                    margin-left: 0;
                }
            }
        }
    }


    .client-form {
        .fieldset {
            .btn-group,
            .form-group {
                .flex-width(100%);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .add-integration-wrapper {
        .card {
            .card-body {
                .grid-blk {
                    & + .grid-blk {
                        border-left: none;
                        border-top: 1px solid @light-gray;
                    }
                }
            }
        }
    }


    .connector-wrap {
        .card{
            &-body {
                .row {
                    > div {

                        & + div {
                            position: relative;
                            margin-top: 30px;
                            padding-top: 30px;
                            &::before {
                                content: '';
                                border-top: 1px solid @light-gray;
                                position: absolute;
                                left: -15px;
                                right: -15px;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 640px) {
    .page-main {
        .main-content {
            .page-heading {
                .link-text {
                    display: none;
                }
            }
        }
    }

    .add-new-integrations {
        .new-integrations-blk {
            .inner-blk {
                .content-fields {
                    .form-group {
                        flex: 0 0 100%;
                        & +  .form-group {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}